@font-face {
    font-family: 'Hana_handwriting';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Hana_handwriting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size : 15px;
    font-family : "Hana_handwriting";
    background-color: blue;
}

h1{
    font-size : 50px;
    color : orange;
    text-align: center;
}

p, li{
    font-size : 30px;
    line-height: 2;
    letter-spacing: 1px;
}
img{
    display : block;
    margin : 0 auto;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: orange;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: blue;
    text-shadow: 3px 3px 1px black;
}
